{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <h1>Email envoyé</h1>
    <p class="text-white">Un email pour réinitialiser votre passe vous a été envoyé dans votre boite mail. Le lien expirera dans {{ tokenLifetime|date('g') }} heure(s).</p>
    <p class="text-white">Pensez à verifier dans vos spams si vous ne trouvez l'email. <a href="{{ path('app_forgot_password_request') }}">Renvoyez-l'email</a>.</p>
{% endblock %}
