{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("dist/css/form.css") }}">
{% endblock %}

{% block body %}
    <div id="logbox">
        <form method="post">

        {% if app.user %}
            <div class="mb-3">
                Vous êtes déjà connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>

        {% if error %}
            <div class="alert alert-danger mx-5 my-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <input type="email" placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" class="input pass" required autofocus>
        <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="input pass" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="inputButton" type="submit">Se connecter</button>

        </form>
        <div class="sublink">
            <a href="{{ path('register_customer') }}">S'inscrire</a>
            <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
        </div>
    </div>
{#    <a href="{{ path('signup') }}">Pas encore inscrit ?</a>#}
{% endblock %}
