{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("dist/css/form.css") }}">
{% endblock %}

{% block body %}
    <div id="logbox">
        <h1 class="h3 mb-3 font-weight-normal">Inscrivez-vous</h1>
        {% if not app.user %}

            {{ form_start(form) }}
            {{ form_widget(form.lastname,{'label':" ",'attr':{'placeholder': "Nom de famille", 'class':"input"}}) }}
            {{ form_widget(form.firstname,{'label':" ",'attr':{'placeholder': "Prénom", 'class':"input"}}) }}
            {{ form_widget(form.phone,{'label':" ",'attr':{'placeholder': "Téléphone", 'class':"input"}}) }}
            {{ form_widget(form.email,{'label':" ",'attr':{'placeholder': "Adresse e-mail", 'class':"input"}}) }}
            {{ form_widget(form.password.first,{'label':" ",'attr':{'placeholder': "Mot de passe", 'class':"input"}}) }}
            {{ form_widget(form.password.second,{'label':" ",'attr':{'placeholder': "Confirmation du mot de passe", 'class':"input"}}) }}

            <button class="inputButton">{{ button_label|default("S'inscrire") }}</button>

            {{ form_end(form) }}

        {% endif %}
        <div class="sublink">
            <a href="{{ path('app_login') }}">Se connecter</a>
            <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
        </div>

    </div>
{% endblock %}
