{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("dist/css/form.css") }}">
{% endblock %}

{% block body %}
    <div id="formbox">
        {% if not app.user %}
        <h1 class="h3 mb-3 font-weight-normal">Inscrivez-vous en tant que restaurateur</h1>


            {{ form_start(form) }}
            {{ form_widget(form.name,{'label':" ",'attr':{'placeholder': "Nom de votre restaurant", 'class':"input"}}) }}
            <div class="double_field">
                {{ form_widget(form.email,{'label':" ",'attr':{'placeholder': "Adresse e-mail", 'class':"input half_field"}}) }}
                {{ form_widget(form.phone,{'label':" ",'attr':{'placeholder': "Téléphone", 'class':"input half_field"}}) }}
            </div>
            {{ form_widget(form.description,{'label':" ",'attr':{'placeholder': "Description de votre restaurant (minimum 150 caractères)", 'class':"input", 'style':"height:100px"}}) }}
            <div class="double_field">
                {{ form_widget(form.password.first,{'label':" ",'attr':{'placeholder': "Mot de passe de votre compte", 'class':"input half_field"}}) }}
                {{ form_widget(form.password.second,{'label':" ",'attr':{'placeholder': "Confirmation du mot de passe", 'class':"input half_field"}}) }}
            </div>

            <div class="form-group file-area">
                {{ form_widget(form.image, {'required':true}) }}
                <div class="file-dummy">
                    <div class="success" id="output">Vous avez selectionné une image</div>
                    <div class="default">Choisissez le logo de votre restaurant</div>
                </div>
            </div>

            {{ form_widget(form.category,{'label':false,'attr':{'class':"input"}}) }}
            {{ form_widget(form.address.0.street,{'label':false,'attr':{'placeholder': "Numéro et rue du restaurant",'class':"input"}}) }}
            <div class="double_field">
                {{ form_widget(form.address.0.zipcode,{'label':false,'attr':{'placeholder': "Code postal",'class':"input half_field"}}) }}

                {{ form_widget(form.address.0.city,{'label':false,'attr':{'placeholder': "Ville du restaurant",'class':"input half_field"}}) }}
            </div>
            {{ form_widget(form.address.0.name,{'label':false,'attr':{'placeholder': "Code postale",'class':"input d-none", 'hidden': 'hidden', 'disabled': 'disabled'}}) }}

            <button class="inputButton">{{ button_label|default("S'inscrire") }}</button>

            {{ form_end(form) }}

            <div class="sublink">
                <a href="{{ path('app_login') }}">Se connecter</a>
                <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
            </div>

        {% else %}
            <div class="sublink">
                <h1>Vous êtes déjà connecté !</h1>
                <a href="{{ path('app_login') }}">Se déconnecter</a>
            </div>
        {% endif %}


    </div>
{% endblock %}
