{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("dist/css/form.css") }}">
{% endblock %}


{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div id="logbox">
        <h1>Réinitialiser mon mot de passe</h1>

        {{ form_start(requestForm) }}

        {{ form_widget(requestForm.email,{'label':" ",'attr':{'placeholder': "Adresse e-mail", 'class':"input"}}) }}
        <button class="inputButton">{{ button_label|default("Envoyer l'email") }}</button>

        {{ form_end(requestForm) }}
        <div class="sublink">
            <a href="{{ path('app_login') }}">Se connecter</a>
            <a href="{{ path('register_customer') }}">S'inscrire</a>
        </div>
    </div>

{% endblock %}
