{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("dist/css/form.css") }}">
{% endblock %}

{% block body %}
    <div id="logbox">
        <h1>Réinitialiser votre passe</h1>

        {{ form_start(resetForm) }}
{#        {{ form_errors(resetForm) }}#}
        {{ form_widget(resetForm.plainPassword.first,{'label':" ",'attr':{'placeholder': "Mot de passe", 'class':"input"}}) }}
        {{ form_widget(resetForm.plainPassword.second,{'label':" ",'attr':{'placeholder': "Confirmation de mot de passe", 'class':"input"}}) }}
        <button class="inputButton">{{ button_label|default("Réinitialiser le mot de passe") }}</button>

        {{ form_end(resetForm) }}

    </div>
{% endblock %}
