{% extends 'base.html.twig' %}

{% block title %}Votre Restaurant{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("dist/css/restorer.css") }}">
{% endblock %}

{% block body %}
    <div class="account my-5">
        <h1 class="mb-5">Mon Compte Restaurateur</h1>
        <div class="d-flex flex-wrap text-white">
            <div class="col-12 col-lg-4">
                <img class="image-cropper-circle" src="{{ fileExist('uploads/' ~ app.user.image) ? asset('uploads') ~"/" }}{{ app.user.image }}" alt="Image de {{ app.user.name }}">
                <div>
                    <button onclick="window.location.href='{{ path('edit_restorer_account')}}'" class="btn-design">Modifier mes informations</button>
                    <button type="button" class="btn-design red-btn" data-toggle="modal" data-target="#deleteModal">Fermer mon restaurant</button>
                </div>
            </div>
            <div class="col-12 col-lg-8 pl-5">
                <ul>
                    <li><span class="text-muted">Nom : </span>{{ app.user.name }}</li>
                    <li><span class="text-muted">Email :  </span>{{ app.user.email }}</li>
                    <li><span class="text-muted">Téléphone :  </span>{{ app.user.phone }}</li>
                    {% for address in app.user.address %}
                        <li><span class="text-muted">Adresse :  </span>{{ address.street }}, {{ address.zipcode }}, {{ address.city }}</li>
                    {% endfor %}
                    <li><a class="text-warning" href="{{ path('restaurant_one', {slug : app.user.slug}) }}">Lien vers la page de votre restaurant</a></li>
                    <li><span class="text-muted">Catégorie :  </span>{{ app.user.category.name }}</li>
                    <li><span class="text-muted">Compte créé le :  </span>{{ app.user.dateCreated|date('d-m-Y') }}</li>
                </ul>
                <p class="text-break">{{ app.user.description }}</p>
            </div>
        </div>
    </div>
{#    {{ include('layout/modal.html.twig') }}#}

{% endblock %}
