{% extends 'base.html.twig' %}

{% block title %}Vos commandes{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("dist/css/restorer.css") }}">
{% endblock %}

{% block body %}
    <div class="account my-5">
        <h1 class="mb-5">Vos commandes</h1>
        {% if commands|length > 0 %}
            <table class="table-design table">
                <thead>
                <tr>
                    <td>Etat</td>
                    <td>Client</td>
                    <td>Adresse</td>
                    <td>Nbr de produits</td>
                    <td>Total de la commande</td>
                    <td>Heure prévue</td>
                    <td>Heure d'arrivée</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% for command in commands %}
                    <tr>
                        <td class="text-{{ (command.state.step == 1) ? "primary" : ((command.state.step == 2) ? "warning" : ((command.state.step == 3) ? "info" : ((command.state.step == 4) ? "success" : "danger"))) }}">{{ command.state.name }}</a></td>
                        <td>{{ command.customer.lastname|capitalize }} {{ command.customer.firstname|capitalize }}</a></td>
                        <td>{{ command.address}}</td>
                        {% set quantity = 0 %}
                        {% for line in command.commandLines %}
                            {% set quantity = quantity + line.quantity %}
                        {% endfor %}
                        <td>{{ quantity }}</a></td>
                        <td>{{ command.total }}€</td>
                        <td>{{ command.estimatedHour|date('d-m-Y H:i')}}</td>
                        <td>{{ command.effectiveHour ? command.effectiveHour|date('d-m-Y H:i') : "Pas encore livrée"}}</td>
                        <td><button class="btn-design m-0" onclick="window.location.href='{{ path('show_command', {'id': command.id}) }}'">Voir</button></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3 class="text-secondary text-center">Aucune commande en cours</h3>
        {% endif %}
    </div>

{% endblock %}
