{% extends 'base.html.twig' %}

{% block title %}Modifier son restaurant{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("dist/css/form.css") }}">
{% endblock %}

{% block body %}
    <div id="formbox">
        <h1 class="mb-3">Modifier votre profil restaurateur</h1>

        {{ form_start(form) }}
            {{ form_widget(form.name,{'label':" ",'attr':{'placeholder': "Nom de votre restaurant", 'class':"input"}}) }}
            <div class="double_field">
                {{ form_widget(form.email,{'label':" ",'attr':{'placeholder': "Adresse e-mail", 'class':"input half_field"}}) }}
                {{ form_widget(form.phone,{'label':" ",'attr':{'placeholder': "Téléphone", 'class':"input half_field"}}) }}
            </div>
            {{ form_widget(form.description,{'label':" ",'attr':{'placeholder': "Description de votre restaurant (minimum 150 caractères)", 'class':"input", 'style':"height:100px"}}) }}
{#            <div class="double_field">#}
{#                {{ form_widget(form.password.first,{'required':false,'label':" ",'attr':{'placeholder': "Nouveau mot de passe (facultatif)", 'class':"input half_field"}}) }}#}
{#                {{ form_widget(form.password.second,{'required':false,'label':" ",'attr':{'placeholder': "Confirmation du nouveau mot de passe", 'class':"input half_field"}}) }}#}
{#            </div>#}

            <div class="form-group file-area">
                {{ form_widget(form.image, {'required':false}) }}
                <div class="file-dummy">
                    <div class="success" id="output">Vous avez selectionné une image</div>
                    <div class="default">Choisissez le logo de votre restaurant</div>
                </div>
            </div>

            {{ form_widget(form.category,{'label':false,'attr':{'class':"input"}}) }}
            {{ form_widget(form.address.0.street,{'label':false,'attr':{'placeholder': "Numéro et rue du restaurant",'class':"input", 'value':app.user.address[0].street}}) }}

            <div class="double_field">
                {{ form_widget(form.address.0.zipcode,{'label':false,'attr':{'placeholder': "Code postal",'class':"input half_field", 'value':app.user.address[0].zipcode}}) }}
                {{ form_widget(form.address.0.city,{'label':false,'attr':{'placeholder': "Ville du restaurant",'class':"input half_field", 'value':app.user.address[0].city}}) }}
            </div>
            {{ form_widget(form.address.0.name,{'label':false,'attr':{'placeholder': "Code postale",'class':"input d-none", 'hidden': 'hidden', 'disabled': 'disabled'}}) }}

            <button class="inputButton">{{ button_label|default("Mettre à jour ses informations") }}</button>

        {{ form_end(form) }}

    </div>
{% endblock %}
