{% extends 'base.html.twig' %}

{% block title %}Votre Restaurant{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("dist/css/restorer.css") }}">
{% endblock %}

{% block body %}
    <div class="account my-5">
        <h1 class="mb-5">Mon Restaurant {{ app.user.name }}</h1>
        <div>
            <div class="d-flex flex-wrap text-white">
                <div class="col-12 col-lg-3">
                    <img class="image-cropper-circle" src="{{ fileExist('uploads/' ~ app.user.image) ? asset('uploads') ~"/" }}{{ app.user.image }}" alt="Image de {{ app.user.name }}">
                </div>
                <div class="col-12 col-lg-6 pl-5">
                    <h2>Statistiques :</h2>
                    <ul class="text-white">
                        {% for item in quantity %}
                            <li>Nombre de commandes "{{ item.name }}": {{ item.1 }}</li>
                        {% endfor %}
{#                        <li>Nombre de commandes finalisées : {{ quantity.passed }}</li>#}
{#                        <li>Nombre de commandes en cours : {{ quantity.preparing }}</li>#}
{#                        <li>Nombre de commandes annulées : {{ quantity.cancelled }}</li>#}
{#                        <li>Nombre de commandes en attente : {{ quantity.pending }}</li>#}
                        <li>Revenu total : {{ app.user.money }}€</li>
                    </ul>
                </div>
                <div class="col-12 col-lg-3">
                    <button class="btn-design" onclick="window.location.href='{{ path('restorer_account') }}'">Mon profil Restaurant</button>
                    <button class="btn-design" onclick="window.location.href='{{ path('product_index') }}'">Voir les produits</button>
                    <button class="btn-design" onclick="window.location.href='{{ path('all_commands') }}'">Toutes les Commandes</button>
                </div>
            </div>
        </div>
        {% if commands|length > 0 %}
            <table class="mt-5 table-design table">
                <thead>
                <tr>
                    <td>Etat</td>
                    <td>Client</td>
                    <td>Téléphone</td>
                    <td>Nbr de produits</td>
                    <td>Total de la commande</td>
                    <td>Heure de la commande</td>
                    <td>Heure prévue</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% for command in commands %}
                    {% if command.state.step < 4 %}
                    <tr>
                        <td><a href="{{ path('change_step', {id: command.id}) }}" class="btn btn-{{ (command.state.step == 1) ? "primary" : ((command.state.step == 2) ? "warning" : "info") }}">{{ command.state.name }}</a></td>
                        <td>{{ command.customer.lastname|capitalize }} {{ command.customer.firstname|capitalize }}</a></td>
                        <td>{{ command.customer.phone}}</td>
                        <td>{{ command.commandLines | length }}</a></td>
                        <td>{{ command.total }}€</td>
                        <td>{{ command.dateCreated|date('d-m-Y H:i')}}</td>
                        <td>{{ command.estimatedHour|date('d-m-Y H:i')}}</td>
                        <td><button class="btn-design m-0" onclick="window.location.href='{{ path('show_command', {'id': command.id}) }}'">Voir</button></td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3 class="mt-5 pt-5 text-secondary text-center">Aucune commande en cours</h3>
        {% endif %}
    </div>

{% endblock %}
