{% extends 'base.html.twig' %}

{% block title %}Vos commandes{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("dist/css/restorer.css") }}">
{% endblock %}

{% block body %}
    <div class="account my-5">
        <h1 class="mb-5">Détails de la commande</h1>
        <div id="{{ command.id }}" class="bg">
            <h4 class="mb-3">Commande du {{ command.dateCreated | date('d/m/Y') }} à {{ command.dateCreated | date('h:i') }} (<span class="text-{{ (command.state.step == 1) ? "primary" : ((command.state.step == 2) ? "warning" : ((command.state.step == 3) ? "info" : ((command.state.step == 4) ? "success" : "danger"))) }}">{{ command.state.name }}</span>)</h4>
            <p><span class="text-muted">Nom du client : </span>{{ command.customer.lastname|capitalize }} {{ command.customer.firstname|capitalize }}</p>
            <p><span class="text-muted">Email du client : </span>{{ command.customer.email }}</p>
            <p><span class="text-muted">Téléphone du client : </span>{{ command.customer.phone }}</p>
            <p><span class="text-muted">Adresse de livraison : </span>{{ command.address }}</b></p>
            <p><span class="text-muted">Date de livraison estimée : </span>{{ command.estimatedHour|date('d-m-Y H:i')}}</p>
            <p><span class="text-muted">Date de livraison réelle : </span>{{ command.effectiveHour ? command.effectiveHour|date('d-m-Y H:i') : "Pas encore livrée"}}</p>
            <p><span class="text-muted">Produits commandés :</span></p>
            <ul class="p-0 ml-5">
                {% for line in command.commandLines %}
                    <li>{{ line.quantity }}x {{ line.product.name }} <=> {{ line.price }}€</li>
                {% endfor %}
            </ul>
            <p><span class="text-muted">Prix total (dont frais de livraison) : </span>{{ command.total }}€</p>
        </div>
    </div>

{% endblock %}
