{% for value in values %}
    <tr>
        <td>{{ value.estimatedHour | date}}</td>
        <td>{{ value.effectiveHour ? value.effectiveHour|date : "Pas encore livré"}}</td>
        <td><a href="{{ path('admin_detail_one_type', {slug: "customer", id: value.customer.id}) }}">{{ value.customer.lastname }} {{ value.customer.firstname }}</a></td>
        <td><a href="{{ path('admin_detail_one_type', {slug: "restaurant", id: value.restaurant.id}) }}">{{ value.restaurant.name}}</a></td>
        <td>{{ value.address}}</td>
        <td><a href="{{ path('admin_detail_type', {slug_parent: type, id: value.id, slug_child: "product"}) }}">{{ value.commandLines |length }}</a></td>
        <td>{{ value.total }}€</td>
    </tr>
{% endfor %}
