{% extends "base.html.twig" %}

{% block body %}
    {% if commands | length > 0 %}
    <h1 class="text-white mt-5 mb-5">Détail de mes commandes</h1>
    <div style="max-height: 1000px; overflow-y:auto" class="list">
        {% for command in commands %}
            <div id="{{ command.id }}" class="card p-3 mb-2">
                <p class="mb-3">Commande du {{ command.dateCreated | date('d/m/Y') }} à {{ command.dateCreated | date('h:i') }}</p>
                <p>Nom du restaurant: <a href="{{ path('restaurant_one', {slug: command.restaurant.slug | lower}) }}">{{ command.restaurant.name }}</a></p>
                <p>Prix total (dont frais de livraison): {{ command.total }}€</p>
                <p>Adresse de livraison: {{ command.address }}</b></p>
                <p>État de la commande:
                    <span class="alert alert-{% if command.state.step <= 3 %}warning{% elseif command.state.step <= 4 %}success{% else %}danger{% endif %} p-1">{{ command.state.name }}</span></p>
                <p>Produits commandés:</p>
                <ul class="p-0 ml-5">
                    {% for line in command.commandLines %}
                        <li>{{ line.quantity }}x {{ line.product.name }} <=> {{ line.price }}€</li>
                    {% endfor %}
                </ul>
                {% if command.state.step < 4  %}
                    <div>
                        <a href="{{ path('cancelCommand', {id: command.id}) }}" class="btn btn-danger">Annuler la commande</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% else %}
        <h1 class="text-white mt-5 mb-5">Vous n'avez passé aucune commande</h1>
    {% endif %}
    <a href="{{ path('customer_account') }}" class="btn btn-success">Retour</a>
{% endblock %}
