{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("dist/css/form.css") }}">
{% endblock %}

{% block body %}
    <h1 class="text-white mt-5 mb-5">{{ title }} mon adresse</h1>
    <div id="logbox">
        {{ form_start(form) }}
        {{ form_widget(form.city,{'label':" ",'attr':{'placeholder': "Ville", 'class':"input"}}) }}
        {{ form_widget(form.street,{'label':" ",'attr':{'placeholder': "Numéro et rue", 'class':"input"}}) }}
        {{ form_widget(form.zipcode,{'label':" ",'attr':{'placeholder': "Code postal", 'class':"input"}}) }}
        {{ form_widget(form.name,{'label':" ",'attr':{'placeholder': "Nom (facultatif)", 'class':"input"}}) }}
        <button class="inputButton">{{ button_label|default("Ajouter l'adresse") }}</button>

        {{ form_end(form) }}
    </div>
    <a href="{{ path('customer_account') }}" class="btn btn-success">Retour</a>

{% endblock %}
