{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("dist/css/form.css") }}">
{% endblock %}

{% block body %}
    <div id="logbox">
        <h1 class="text-white mt-5 mb-5">Modifier mon profil</h1>
        {{ form_start(form) }}
        {{ form_widget(form.lastname,{'label':" ",'attr':{'placeholder': "Nom", 'class':"input"}}) }}
        {{ form_widget(form.firstname,{'label':" ",'attr':{'placeholder': "Prénom", 'class':"input"}}) }}
        {{ form_widget(form.email,{'label':" ",'attr':{'placeholder': "Email", 'class':"input"}}) }}
        {{ form_widget(form.phone,{'label':" ",'attr':{'placeholder': "Téléphone", 'class':"input"}}) }}

        <button class="inputButton">{{ button_label|default("Modifier") }}</button>

        {{ form_end(form) }}
    </div>


    {{ form_end(form) }}
    <a href="{{ path('customer_account') }}" class="btn btn-success">Retour</a>

{% endblock %}
