{% extends 'base.html.twig' %}

{% block title %}Hello CustomerController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("dist/css/customer.css") }}">
{% endblock %}

{% block body %}
    <div class="account my-5">
        <h1 class="mb-5">Bonjour {{ app.user.firstname }}</h1>
        <ul>
            <li>Nom: {{ app.user.lastname }}</li>
            <li>Prénom: {{ app.user.firstname }}</li>
            <li>Email: {{ app.user.email }}</li>
            <li>Téléphone: {{ app.user.phone }}</li>
            <li>Solde: {{ app.user.money }} €</li>
            <li>Nombre de commandes passées: {{ app.user.commands | length }}</li>
            <div class="address d-flex">
                {% for address in app.user.address %}
                    <div class="border border-white rounded p-4 bg-dark mx-2" style="width: 250px;">
                        <h6 class="text-center mb-3"><u>{{ address.name ? "Nom: "~address.name : "Adresse n°"~loop.index }}</u></h6>
                        <div>
                            <p>Ville: {{ address.city }}, {{ address.zipcode }}</p>
                            <p>Rue: {{ address.street }}</p>
                        </div>
                        <a href="{{ path('delete_address', {id: address.id }) }}" class="btn btn-danger">Supprimer</a>
                        <a href="{{ path('edit_address', {id: address.id }) }}" class="btn btn-primary">Modifier</a>
                    </div>
                {% endfor %}
            </div>

        </ul>
        <div class="options flex flex-wrap">
            <a href="{{ path('add_address') }}" class="btn btn-success">Ajouter une adresse</a>
            <a href="{{ path('edit_account') }}" class="btn btn-primary">Modifier mon profil</a>
            <a href="{{ path('customer_detail') }}" class="btn btn-primary">Voir le détail de mes commandes</a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                Fermer mon compte
            </button>

        </div>

    </div>
    {{ include('layout/modal.html.twig') }}

{% endblock %}
