<div id="formbox">
    <h1 class="pb-4">{{ title|default("Ajout d'un nouveau produit") }}</h1>
    {{ form_start(form) }}

        {#    {{ form_widget(form) }}#}
        <div class="double_field">
            {{ form_widget(form.name, {'label':" ",'attr':{'placeholder': "Nom du produit", 'class':"input half_field"}}) }}
            {{ form_widget(form.price, {'label':" ",'attr':{'placeholder': "Prix", 'class':"input half_field"}}) }}
        </div>
        {{ form_widget(form.description, {'label':" ",'attr':{'placeholder': "Description", 'class':"input", 'style':"height:100px"}}) }}
        <div class="form-group file-area">
            {% if let_checked is defined %}
                {{ form_widget(form.image, {'required':false}) }}
            {% else %}
                {{ form_widget(form.image, {'required':true}) }}
            {% endif %}
            <div class="file-dummy">
                <div class="success" id="output">Vous avez selectionné une image</div>
                <div class="default">Choisissez une image</div>
            </div>
        </div>
        <div class="input-check">
            <label for="product_isSelling">Mettre le produit disponible à la vente </label>
            {% if let_checked is defined %}
                {{ form_widget(form.isSelling) }}
            {% else %}
                {{ form_widget(form.isSelling, {'attr':{'checked': 'checked'}}) }}
            {% endif %}
        </div>
        <button class="inputButton">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
</div>
