{% extends 'base.html.twig' %}

{% block title %}Modifier un Produit{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("dist/css/form.css") }}">
{% endblock %}

{% block body %}
    {{ include('restorer/product/_form.html.twig', {'title': 'Modifier le produit','button_label': 'Mettre à jour', 'let_checked': true}) }}
{% endblock %}
