{% extends 'base.html.twig' %}

{% block title %}Vos produits{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("dist/css/restorer.css") }}">
{% endblock %}

{% block body %}
    <h1 class="mt-4">Vos produits</h1>

    <button class="btn-design green-btn col-3 mb-5" onclick="window.location.href='{{ path('product_new') }}'">Ajouter un produit</button>
    <table class="table-design table">
        <thead>
            <tr>
                <td>Ref.</td>
                <td>Nom</td>
                <td>Image</td>
                <td>Prix</td>
                <td>Créé le</td>
                <td>Modifié le</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            {% if product.isSelling and product.isActive %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>
                        <img class="image-cropper-square" src="{{ 'http' in product.image ? product.image : asset('uploads/' ~ product.image)}}" alt="{{ product.name }}">
                    </td>
                    <td>{{ product.price }} €</td>
                    <td>{{ product.dateCreated ? product.dateCreated|date('d-m-Y H:i:s') : '' }}</td>
                    <td>{{ product.dateModificated ? product.dateModificated|date('d-m-Y H:i:s') : 'Jamais' }}</td>
                    <td>
                        <button class="btn-design m-0" onclick="window.location.href='{{ path('product_show', {'id': product.id}) }}'">Voir</button>
                        <button class="btn-design" onclick="window.location.href='{{ path('product_edit', {'id': product.id}) }}'">Modifier</button>
                        <div class="">
                            {{ include('restorer/product/_delete_form.html.twig') }}
                        </div>
                    </td>
                </tr>
            {% elseif product.isActive %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td class="text-center text-danger" colspan="4">Vous avez retiré ce produit de la vente</td>
                    <td>
                        <button class="btn-design m-0" onclick="window.location.href='{{ path('product_show', {'id': product.id}) }}'">Voir</button>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
