{% extends 'base.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("dist/css/form.css") }}">
{% endblock %}

{% block body %}
    {{ include('restorer/product/_form.html.twig') }}

{% endblock %}
