{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("dist/css/restorer.css") }}">
{% endblock %}

{% block body %}
    <h1>Un de vos produit</h1>

    <table class="table-design table">
        <tbody>
            <tr>
                <th class="border-0">Référence</th>
                <td class="border-0">{{ product.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    <img class="image-cropper-square" src="{{ 'http' in product.image ? product.image : asset('uploads/' ~ product.image)}}" alt="{{ product.name }}">
                </td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>En vente</th>
                <td>{{ product.isSelling ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ product.dateCreated ? product.dateCreated|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{{ product.dateModificated ? product.dateModificated|date('d-m-Y H:i:s') : 'Jamais' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex flex-wrap">
        <button class="btn-design col-12 col-lg-6" onclick="window.location.href='{{ path('product_edit', {'id': product.id}) }}'">Modifier</button>
        <div class="col-12 col-lg-6">
            {{ include('restorer/product/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
