<div id="logbox">
    {{ form_start(form) }}
    {% if item %}
        {{ form_widget(form.name,{'label':" ",'attr':{'placeholder': "Nom ", 'class':"input", 'value': item.name}}) }}
    {% else %}
        {{ form_widget(form.name,{'label':" ",'attr':{'placeholder': "Nom ", 'class':"input "}}) }}
    {% endif %}
    <div class="form-group file-area">
        {{ form_widget(form.image, {'required':true}) }}
        <div class="file-dummy">
            <div class="success" id="output">Vous avez selectionné une image</div>
            <div class="default">Choisissez le logo de la catégorie</div>
        </div>
    </div>

    <button class="inputButton">{{ button_label|default("Sauvegarder") }}</button>
    {{ form_end(form) }}

</div>
