{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("dist/css/home.css") }}">
{% endblock %}

{% block body %}
    <div class="cat mt-5">
        {% if categories|length > 0 %}
            <h2>Catégories <a class="text-white" style="font-size: 12px;" href="">(Voir toutes les catégories)</a></h2>
            <div class="d-flex flex-wrap">
                {% for category in categories %}
                    <a href="{{ path('category_one', {"slug": category.slug}) }}" class="col-12 col-sm-6 col-lg-3 d-flex flex-wrap justify-content-center">
                        <img class="image-cropper-circle" src="{{ asset('uploads/') ~ category.image }}" alt="">
                        <h4 class="col-12 text-center">{{ category.name | capitalize  }}</h4>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucune catégories existantes</p>
        {% endif %}
        <a class="btn btn-success" href="{{ path('home') }}">Retour à l'accueil</a>
    </div>


{% endblock %}
