{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("dist/css/home.css") }}">
{% endblock %}

{% block body %}
    <div class="cat mt-3">
        <h1 class="mb-5">{{ restaurants|length }} restaurants dans la catégorie {{ category.name|capitalize }}</h1>
        <div class="mt-5 d-flex flex-wrap">
            {% for restaurant in restaurants %}
                <a href="{{ path('restaurant_one', {"slug": restaurant.slug}) }}" class="mb-5 col-12 col-lg-6 d-flex flex-wrap justify-content-start px-4">
                    <img class="col-12 p-0 image-cropper-rect" style="height:200px; width:auto; " src="{{ restaurant.image }}" alt="">
                    <h4 class="p-0 d-block mb-0">{{ restaurant.name | capitalize  }} - {{ restaurant.address.values.0.street }}, {{ restaurant.address.values.0.city }}</h4>
{#                        <p class="text-secondary p-0 mb-5">Frais de livraisons (minimum) : {{ delivery_info.pricemin }} € • {{ delivery_info.timemin }}-{{ delivery_info.timemin*2 }} min •</p>#}
                </a>
            {% endfor %}
        </div>
        {{ knp_pagination_render(restaurants) }}
        <a class="btn btn-success" href="{{ path('home') }}">Retour à l'accueil</a>
    </div>
{% endblock %}

