{% extends "base.html.twig" %}


{% block body %}

    <h1>Choisir l'adresse de livraison</h1>

    <form action="{{ path('command_valid') }}" method="post">
        {% if app.user.address|length > 0 %}
            <div class="d-flex mb-5">
                {% for address in app.user.address %}
                    <div for="address" class="text-white border border-white rounded p-4 bg-dark mx-2" style="width: 250px;">
                        <input type="radio" name="address" value="{{ address.id }}" checked>
                        <h6 class="text-center mb-3"><u>{{ address.name ? "Nom: "~address.name : "Adresse n°"~loop.index }}</u></h6>
                        <div>
                            <p>{{ address.street }}, {{ address.city }} {{ address.zipcode }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <input type="submit" class="btn btn-success" value="Commander">


        {% else %}
            <p class="text-white">Vous n'avez pas encore d'adresse, créez-en une.</p>
            <div>
                <a href="{{ path('add_address') }}" class="btn btn-success">Ajouter une adresse</a>
            </div>
        {% endif %}

    </form>

{% endblock %}
