{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("dist/css/home.css") }}">
    <link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="cat mt-5">
        {% if categories|length > 0 %}
            <h2>Catégories <a class="text-white" style="font-size: 12px;" href="{{ path('all_category') }}">(Voir toutes les catégories)</a></h2>
            <div class="d-flex flex-wrap">
                {% for category in categories | slice(0,4) %}
                    <a href="{{ path('category_one', {"slug": category.slug}) }}" class="col-12 col-sm-6 col-lg-3 d-flex flex-wrap justify-content-center">
                        <img class="image-cropper-circle" src="{{ fileExist('uploads/' ~ category.image) ? asset('uploads') ~"/" }}{{ category.image }}" alt="">
                        <h4 class="col-12 text-center">{{ category.name | capitalize  }}</h4>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun restaurants existants</p>
        {% endif %}
    </div>
    <div class="new-resto">
        {% if new_restaurants|length > 0 %}
            <h2>Nouveaux restaurants</h2>
            <div class="d-flex flex-wrap">
            {% for restaurant in new_restaurants %}
                <a href="{{ path('restaurant_one', {"slug": restaurant.slug}) }}" class="col-12 col-lg-6 d-flex flex-wrap justify-content-start px-4">
                    <img class="col-12 p-0 image-cropper-rect" style="height:200px; width:auto; " src="{{ fileExist('uploads/' ~ restaurant.image) ? asset('uploads') ~"/" }}{{ restaurant.image }}" alt="">
                    <h4 class="p-0 d-block mb-0">{{ restaurant.name | capitalize  }} - {{ restaurant.address.values.0.street }}, {{ restaurant.address.values.0.city }}</h4>
                    <p class="text-secondary p-0 mb-5">Frais de livraisons (minimum) : {{ delivery_info.pricemin }} € • {{ delivery_info.timemin }}-{{ delivery_info.timemin*2 }} min •</p>
                </a>
            {% endfor %}
        </div>
        {% else %}
            <p>Aucun restaurants existants</p>
        {% endif %}
    </div>
    <div class="map mb-5">
        <h2>Restaurants à proximités</h2>
        <div class="px-4">
            <div id="coords" data-coords="{{ coords|json_encode|e('html_attr') }}"></div>
            <div id="map" style="height: 300px"></div>
        </div>
    </div>
    {% if delivery_info != false %}
    <div class="content-deliv-one">
        <h2>Livraison {{ delivery_info.category.name | capitalize}} dans la ville suivante : {{ delivery_info.city }}</h2>
        <div class="d-flex flex-wrap">
            {% for restaurant in delivery_info.restaurants %}
                <a href="{{ path('restaurant_one', {"slug": restaurant.slug}) }}" class="col-12 col-lg-6 d-flex flex-wrap justify-content-start px-4">
                    <img class="col-12 p-0 image-cropper-rect" style="height:200px; width:auto; " src="{{ fileExist('uploads/' ~ restaurant.image) ? asset('uploads') ~"/" }}{{ restaurant.image }}" alt="">
                    <h4 class="p-0 d-block mb-0">{{ restaurant.name | capitalize  }} - {{ restaurant.address.values.0.street }}, {{ restaurant.address.values.0.city }}</h4>
                    <p class="text-secondary p-0 mb-5">Frais de livraisons (minimum) : {{ delivery_info.pricemin }} € • {{ delivery_info.timemin }}-{{ delivery_info.timemin*2 }} min •</p>
                </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="{{ asset('dist/js/indexMap.js') }}"></script>
{% endblock %}
