{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('dist/css/card.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/css/rating.css') }}">
{% endblock %}

{% block body %}
    <div style="left:0;" class="bg-white position-absolute w-100 banner mt-3 py-5">
        <div class="container h-100">
            <div class="d-flex align-items-center h-100">
                <div class="w-25">
                    <img class="image-cropper-circle" src="{{ fileExist('uploads/' ~ product.image) ? asset('uploads') ~"/" }}{{ product.image }}" alt="">

                </div>
                <div class="w-75 right ml-5">
                    <h1 class="text-dark" style="font-size: 50px;">{{ product.name }}</h1>
                    <h2>Restaurant: {{ product.restaurant.name }}</h2>
                    <span class="border border-dark py-1 px-2" style="font-size: 22px;">{{ product.price }}€</span>
                    <p class="text-break">{{ product.description }}</p>
                    <div class="notation">
                        <p style="font-size: 19px;">{{ product.rating ? "Notation:" ~ product.rating ~ "/5" : "Pas encore noté" }}</p>
                    </div>
                    {% if app.user and is_granted('ROLE_RESTAURANT') and app.user.name == product.restaurant.name %}
                        <a href="{{ path('restorer') }}" class="btn btn-success">Administrer</a>
                    {% endif %}
                </div>

            </div>
            <div class="actions mt-5 pt-5">
                {% if app.user and is_granted("ROLE_RESTAURANT") %}
                        <a href="#" class="isDisabled btn btn-success">Ajouter au panier</a>
                {% else %}
                    <a href="{{ path('cart_add', {id: product.id}) }}" class="btn btn-success">Ajouter au panier</a>
                {% endif %}
            </div>

        </div>
    </div>
    <div class="mb-3" style="margin-top: 550px">
        <div class="other-products">
            <h2>Autres produits du restaurant</h2>
            <div class="list-product d-flex flex-wrap">
                {% if productlink|length > 0 %}
                    {% for product in productlink |slice(0,3) %}
                        {% include 'layout/cardproduct.html.twig' %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
       <div class="give-note py-5">
           <h2>Avis du produit ({{ product.comments|length }})</h2>
           {% if product.comments|length > 0 %}
               <div class="comments d-flex flex-wrap justify-content-center">
                   {% for comment in product.comments|reverse|slice(0, 5) %}
                       {% if comment.opinion %}
                            {% include "layout/comment.html.twig" %}
                       {% endif %}

                   {% endfor %}
               </div>
           {% endif %}

           {% if app.user %}
                {% if not alreadywrite and product in alreadyBought%}
                    {% include "layout/comment_form.html.twig" %}
                {% endif %}
           {% else %}
               <a href="{{ path('app_login') }}">Connectez-vous pour laisser un commentaire sur ce plat</a>
           {% endif %}
       </div>

    </div>
    <a class="btn btn-success" href="{{ path('restaurant_one', {slug: product.restaurant.slug}) }}">Retour au restaurant</a>

{% endblock %}
