{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('dist/css/card.css') }}">
{% endblock %}

{% block body %}
    <div style="left:0;height: 400px;" class="bg-white position-absolute w-100 banner mt-3">
        <div class="container h-100">
            <div class="d-flex align-items-center h-100">
                <div class="w-25">
                    <img class="image-cropper-circle" src="{{ fileExist('uploads/' ~ restaurant.image) ? asset('uploads') ~"/" }}{{ restaurant.image }}" alt="">
                </div>
                <div class="right ml-5 w-75">
                    <h1 class="text-dark" style="font-size: 50px;">{{ restaurant.name }}</h1>
                    <p class="text-break">{{ restaurant.description }}</p>
                    <p style="font-size: 19px;">Nombre de produit ({{ size }})</p>
                    {% if app.user and is_granted('ROLE_RESTAURANT') and app.user.name == restaurant.name %}
                        <a href="{{ path('restorer') }}" class="btn btn-success">Administrer</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <div class="list-product d-flex flex-wrap" style="margin-top: 500px">
        {% if products|length > 0 %}
            {% for product in products %}
                {% include 'layout/cardproduct.html.twig' %}
            {% endfor %}
        {% endif %}
    </div>
    {{ knp_pagination_render(products) }}

    <a class="btn btn-success" href="{{ path('home') }}">Retour à l'accueil</a>

{% endblock %}
