{% extends "base.html.twig" %}

{% block body %}

    <h1 class="text-white">Résultats trouvés ({{ numberResult }})</h1>

    {% if restaurants|length > 0 %}
        <div class="d-flex flex-wrap">
        {% for restaurant in restaurants %}
            <a href="{{ path('restaurant_one', {"slug": restaurant.slug}) }}" class="col-12 col-lg-6 d-flex flex-wrap justify-content-start px-4">
                <img class="col-12 p-0 image-cropper-rect" style="height:200px; width:auto; " src="{{ fileExist('uploads/' ~ restaurant.image) ? asset('uploads') ~"/" }}{{ restaurant.image }}" alt="">
                <h4 class="p-0 d-block mb-0">{{ restaurant.name | capitalize  }} - {{ restaurant.address.values.0.street }}, {{ restaurant.address.values.0.city }}</h4>
{#                <p class="text-secondary p-0 mb-5">Frais de livraisons (minimum) : {{ delivery_info.pricemin }} € • {{ delivery_info.timemin }}-{{ delivery_info.timemin*2 }} min •</p>#}
            </a>
        {% endfor %}
        </div>
        <br>
        {{ knp_pagination_render(restaurants) }}

        <br>
    {% endif %}
    <a class="btn btn-success" href="{{ path('home') }}">Retour à l'accueil</a>

{% endblock %}
