{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("dist/css/form.css") }}">
{% endblock %}

{% block body %}
    <div class="form text-white mt-5">
        <h1 class="mb-5">{{ title }} d'un(e) {{ data.sing_fr }}</h1>
        <div>
            {% if data.type in ["customer","category","state"]%}
                {% include "admin/formpart/"~data.type~".html.twig" %}
            {% endif %}
        </div>
    </div>
{% endblock %}
