{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="d-flex mt-3 justify-content-center flex-wrap">
        {% for label, datainfo in informations %}
            <div class="{{ label }} m-3" style="max-width: 300px; font-size: 16px;border-radius: 45px">
                <div class="d-flex ">
                    <div class="bg-{{ datainfo.color }} d-flex justify-content-center align-items-center text-white" style="min-width: 80px; max-width: 80px;height: 80px;">{{ datainfo.logo |raw }}</div>
                    <div class="pl-2 pr-2 data bg-white text-center" style="width:250px;">
                        <p><b><i>Nombre total {{ datainfo.name == "état" ? "d'" : "de " }}{{ datainfo.name }}</i></b></p>
                        <p>{{ datainfo.nbr }}</p>
                    </div>
                </div>
                <p class="m-0 bg-dark text-center"><a href="{{ path("type_list", {slug: datainfo.type}) }}" class="text-{{ datainfo.color }} ">Voir le détail des {{ datainfo.name }}s</a></p>
            </div>
        {% endfor %}
    </div>
    <div class="bg-white mt-5 graph"> <!--style="max-height: 600px;"-->
        <div id="data-graph-information" data-graph="{{ data_graph|json_encode|e('html_attr') }}"></div>
        <canvas id="myChart" style="height: 100%"></canvas>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="{{ asset('dist/js/chart.js') }}"></script>
{% endblock %}
