{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-white mt-5 mb-5">Gestion des {{ title }}s ({{ values|length }})</h1>
    {{ knp_pagination_render(values) }}
    <table class="bg-white table">
        <thead>
            <tr>
                {% for column in columns %}
                    <td>{{ column }}</td>
                {% endfor %}
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% if type in ["customer","command","restaurant","category","state","product"]%}
                {% include "admin/tablepart/"~type~".html.twig" %}
            {% endif %}

        </tbody>
    </table>
    {{ knp_pagination_render(values) }}
    {% if type in ["category","state"]%}
        <a href="{{ path('admin_add_type',{"slug": type}) }}" class="btn btn-success">Ajouter un(e) {{ title | capitalize}}</a>
    {% endif %}

    <a href="{{ path('admin_home') }}" class="btn btn-success">Retour à l'accueil</a>
{% endblock %}
