<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BringEatToMe{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ asset('dist/css/base.css')}}">
        <link rel="stylesheet" href="{{ asset('dist/css/nav.css')}}">
        <link rel="stylesheet" href="{{ asset('dist/css/footer.css')}}">
        <link rel="stylesheet" href="{{ asset('dist/css/fontello-css/animation.css')}}">
        <link rel="stylesheet" href="{{ asset('dist/css/autocomplete.css')}}">

        <link rel="shortcut icon" type="image/png" href="{{ asset('dist/img/favicon_light.png')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {% include 'layout/nav.html.twig' %}
        </header>
        <main class="container py-5">
            {% for label, messages in app.flashes(['success', 'danger']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} bubble position-absolute">
                        {{ message|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
        </main>
        <footer>
            {% include 'layout/footer.html.twig' %}
        </footer>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="{{ asset('dist/js/autocomplete.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
