<div class="wrapper-card">
    <img class="w-100 header" src="{{ fileExist('uploads/' ~ product.image) ? asset('uploads') ~"/" }}{{ product.image }}" alt="">
    <p class="name"><b>{{ product.name }}</b></p>
    <div class="borderspace"></div>
    <p class="info">{{ product.description|slice(0,50) }}...</p>
    <div class="grey-border"></div>
    <div class="py-1">
        {% if app.user and is_granted("ROLE_RESTAURANT") %}
            <a href="#" class="isDisabled m-1 button button-success ">Ajouter au panier (désactivé)</a>
        {% else %}
            <a href="{{ path('cart_add', {id: product.id} ) }}" class="m-1 button button-success ">Ajouter au panier</a>
        {% endif %}
        <a href="{{ path('product_detail', {slug: product.slug}) }}" class="m-1 button">Voir plus</a>
{#        <a href="{{ path('product_detail', {id: product.id}) }}" class="m-1 button">Voir plus</a>#}
    </div>
</div>
