<div class="comment-item bg-white p-2 m-1 mx-5">
    <h6 class="text-center">{{ comment.customer.firstname }}</h6>
    <div>
        <div class="d-inline-block">
            {% for star in 1..comment.rating %}
                <i class="active fa fa-star fa-lg" aria-hidden="true"></i>
            {% endfor %}
        </div>
    </div>
    {% if comment.opinion %}
        <blockquote>"{{ comment.opinion|slice(0,200) }}{{ comment.opinion|length > 200 ? "..." }}"</blockquote>
    {% endif %}
</div>
