<form method="post" class="showcase pb-5">
    <div>
        <div class="star-rating">
            <input id="star-5" type="radio" name="rating" value="5" />
            <label for="star-5" title="5 stars"><i class="active fa fa-star fa-lg" aria-hidden="true"></i></label>

            <input id="star-4" type="radio" name="rating" value="4" />
            <label for="star-4" title="4 stars"><i class="active fa fa-star fa-lg" aria-hidden="true"></i></label>

            <input id="star-3" type="radio" name="rating" value="3" />
            <label for="star-3" title="3 stars"><i class="active fa fa-star fa-lg" aria-hidden="true"></i></label>

            <input id="star-2" type="radio" name="rating" value="2" />
            <label for="star-2" title="2 stars"><i class="active fa fa-star fa-lg" aria-hidden="true"></i></label>

            <input id="star-1" type="radio" name="rating" value="1" />
            <label for="star-1" title="1 star"><i class="active fa fa-star fa-lg" aria-hidden="true"></i></label>

        </div>
    </div>
    <textarea rows="5" class="mb-2 form-control" name="comment" ></textarea>

    <button type="submit" class="d-block btn btn-success">Soumettre</button>
</form>
