<div class="container d-flex flex-wrap justify-content-between align-items-center">
    <img src="{{ asset("dist/img/v4.png") }}" alt="Logo">
    <div>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
    </div>
    <div class="footer-nav">
        <ul>
            <li><a href="{{ path('register_restorer') }}">Devenir Restaurateur</a></li>
            <br>
            <li><a href="">A propos</a></li>
            <li><a href="">Nous contacter</a></li>
            <li><a href="">Consulter la FAQ</a></li>
            <li><a href="">Langue</a></li>
        </ul>
    </div>
    <section class="col-12 d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            Copyright - © 2020 BringEatToMe Inc.
        </div>
    </section>
</div>
