<nav>
    <div class="wrapper margin-nav">
        <div class="logo">
            <a href=" {{ is_granted('ROLE_ADMIN') ? path('admin_home') : path('home') }}">
                <img src="{{ asset('dist/img/logo_light.png') }}" alt="Logo">
            </a>
        </div>
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <li><a class="wbtn pl-3" href="/">Accueil <i class="demo-icon icon-burger">&#xe800;</i></a></li>
            <li class="search-li">
                    <form method="get" action="{{ path('search_page') }}" class="w-100 d-block">
                        <div class="search-box d-flex justify-content-between">
                            <input id="searchbar" name="s" type="text" placeholder="Rechercher un restaurant...">
                            <button type="submit" class="sbtn mr-3" style="background:none;border: none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </button>
                        </div>
                        <ul id="result-search"></ul>
                    </form>

            </li>
            {% if not app.user %}
                <li><a class="wbtn" href="{{ path('app_login') }}"><i class="demo-icon icon-user">&#xe801;</i> Connexion</a></li>
                <li><a class="bbtn" href="{{ path('register_customer') }}">Inscription</a></li>
            {% else %}
                {% if is_granted('ROLE_RESTAURANT')  %}
                    <li><a class="wbtn" href="{{ path('restorer')}}"><i class="demo-icon icon-user">&#xe801;</i> Mon restaurant</a></li>
                {% else %}
                    <li><a class="wbtn" href="{{ path('customer_account')}}"><i class="demo-icon icon-user">&#xe801;</i> Mon compte</a></li>
                {% endif %}
                <li><a class="bbtn" href="{{path('app_logout') }}">Déconnexion</a></li>
            {% endif %}
            {% if not app.user or not is_granted("ROLE_RESTAURANT") or is_granted("ROLE_ADMIN") %}
                <li>
                    <a class="wbtn" href="{{path('cart_home') }}">
                        <i class="fas fa-shopping-cart fa-lg"></i>
                        {% if app.session.get('cart') %}
                            <span class="quantity-cart"></span>
                        {% endif %}
                    </a>
                </li>
            {% endif %}
        </ul>
        <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars text-dark"></i></label>
    </div>
</nav>
